/* Pretendard �壱�� 覿����り鍵 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	font-size: 100%;
	font-family: "Pretendard", "AppleGothic", "AppleGothicNeoSD", "Droid Sans", "sans-serif";
	vertical-align: top;
	word-break: keep-all;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none; /* 觀壱��� 覲����� �壱�誤��鍵 �������� 覦�� */
}

body {
	line-height: 1;
	word-wrap: break-word;
  color: #19191D;
}

a {
	text-decoration: none;
	outline: none;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  table-layout: fixed;
}

caption, legend {
	font-size: 0;
	line-height: 0;
	height: 0;
}

::-webkit-input-placeholder {
	color: #9696A0;
}
::-moz-placeholder {
	color: #9696A0;
}
:-moz-placeholder {
	color: #9696A0;
}
:-ms-input-placeholder {
	color: #9696A0;
}	

input:-webkit-autofill {
	box-shadow: 0 0 0 30px white inset;
}

input, select, button, textarea {
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input, select, textarea {
	-webkit-appearance : none;
	-moz-appearance:none;
	appearance:none;
	font-family: "Pretendard", "AppleGothic", "AppleGothicNeoSD", "Droid Sans", "sans-serif";
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
select {
	cursor: pointer;
}
button {
	cursor: pointer;
	font-family: "Pretendard", "AppleGothic", "AppleGothicNeoSD", "Droid Sans", "sans-serif";
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}